@font-face {
  font-family: "Times New Roman", Times, serif;
  src: url("/fonts/times_new_roman/times_new_roman.ttf");
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Times New Roman" !important;
}

.textBox {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* transform: translate(-50%, -50%); */
  z-index: 10;
}

.firefly {
  position: relative;
  top: 0;
  left: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
